<div class="index">
  <div class="search">
    <div class="title_area">
      <div class="title">
        <h3>投稿を検索</h3>
      </div>
    </div>
    
      <%= form_tag({controller:"gurumes",action:"index"}, method: :get) do %>
        <div class="input_area">
          <div class="input">
            <div class="input1">
              <%= text_area_tag :search, "", {size:"30"} %>
            </div>
          </div>
          <%= submit_tag '検索する' , class: 'sea_btn' %>
        </div>
      <% end %>
      <h3>タグリスト</h3>
      <% @tag_list.each do |list| %>
        #<%= link_to list.tag_name, tag_gurumes_path(tag_id: list.id) %>
        <%= "(#{list.gurumes.count})" %>
      <% end %>
      
      
      
      <br>
  </div>
  <div class="list1">
    <div class="list">
      <div class="title_area">
        <div class="title">
            <h3>Gurume一覧</h3>
        </div>
      </div>
      <div class="pagenate">
        <%= page_entries_info @gurumes %>
      </div>
        <div class="gurumes-container">
          <% @gurumes.each do |t| %>          
            <div class="gurume">
            <p>店の名前：<%= t.eatry_name %></p>
            <p>ジャンル：<%= t.genre %></p>
            <p>目的：<%= t.purpose %></p>
            <p>値段：<%= t.price %>円</p>
            <p>おいしさ：<%= t.delicious %></p>
            <p>アクセス：<%= t.access %></p>
            <p>その他：<%= t.others %></p>
            <p>その他：<%= t.created_at.to_s(:datetime_jp) %></p>
            <% if t.images.present? %>
              <% t.images.each do |image| %>
                <%= image_tag image.image_url, size: "250x200" %>
              <% end %>
            <% else %>
              <p><%= image_tag "noimage.png", size: "200x200" %></p>
            <% end %>
            <p>星評価：
            <div class="star">
              <% if t.star? %>
                <% for i in 1..t.star do %>
                  ★
                <% end %>
              <% end %>
            </div>
            </p>
            <% t.tags.each do |tag| %>
                #<%= link_to tag.tag_name, tag_gurumes_path(tag_id: tag.id) %>
            <% end %>
            <% if user_signed_in? %>
                <% if current_user.already_bookmarked?(t) %>
                    <%= link_to gurume_bookmark_path(id: t.id, gurume_id: t.id), method: :delete do %>
                        <i class="fa-solid fa-bookmark fa-2x" style="color:yellow;"></i><%= t.bookmarks.count %>
                    <% end %>
                <% else %>
                    <%= link_to gurume_bookmarks_path(id: t.id, gurume_id: t.id), method: :gurume do %>
                        <i class="fa-solid fa-bookmark fa-2x" style="color:white;"></i><%= t.bookmarks.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="fa-solid fa-bookmark fa-2x" style="color:white;"></i><%= t.bookmarks.count %>
            <% end %>
              
              <% if user_signed_in? %>
                      <% if current_user.already_liked?(t) %>
                          <%= link_to gurume_like_path(id: t.id, gurume_id: t.id), method: :delete do %>
                            <i class="fas fa-heart fa-2x" style="color:red;"></i><%= t.likes.count %>
                          <% end %>
                      <% else %>
                          <%= link_to gurume_likes_path(id: t.id, gurume_id: t.id), method: :gurume do %>
                            <i class="far fa-heart fa-2x" style="color:black;"></i><%= t.likes.count %>
                          <% end %>
                      <% end %>
              <% else %>
                  <i class="far fa-heart fa-2x" style="color:red;></i><%= t.likes.count %>
                  <p>いいねの数 = </p><%= t.likes.count %>
              <% end %>
              <br>
              <%= link_to "詳細へ", gurume_path(t.id) %>
              <% if user_signed_in? && current_user.id == t.user_id %>
                <%= link_to "編集する", edit_gurume_path(t.id) %>
              <% end %>
              <% if current_user.admin? %>
                <%= button_to "削除する", gurume_path(t.id), method: :delete %>
              <% end %>
            </div>
          <% end %>
        </div>
      <div class="pagenate1">
        <%= paginate @gurumes %>
      </div>
    </div>
  </div>

  <div class="ranking">
    <div class="title_area">
      <div class="title">
        <h3>いいね数ランキング</h3>
      </div>
    </div>
    <div class="post">
      <% last_like = 0 %>
      <% j = 1 %>
      <% @rank_gurumes.each.with_index(1) do |t, i| %>
          <% if i == 1 %>
            <% last_like = t.likes.count %>
          <% end %>
          <% if t.likes.count != last_like %>
            <% j = i %>
            <% last_like = t.likes.count %>
          <% else %>
            <% last_like = t.likes.count %>
          <% end %>
          <% if j == 1 %>
            <div class="post1">
              <p>第<%= j %>位</p>
              <p>店の名前：<%= t.eatry_name %></p>
              <p>ジャンル：<%= t.genre %></p>
              <p>目的：<%= t.purpose %></p>
              <p>値段：<%= t.price %>円</p>
              <p>おいしさ：<%= t.delicious %></p>
              <p>アクセス：<%= t.access %></p>
              <p>その他：<%= t.others %></p>
              <% if t.images.present? %>
                <% t.images.each do |image| %>
                  <%= image_tag image.image_url, size: "250x200" %>
                <% end %>
              <% else %>
                <p><%= image_tag "noimage.png", size: "200x200" %></p>
              <% end %>
              <p>星評価：
              <div class="star">
                <% if t.star? %>
                  <% for i in 1..t.star do %>
                    ★
                  <% end %>
                <% end %>
              </div>
              </p>
            </div>
          <% elsif j == 2 %>                
            <div class="post2">
              <p>第<%= j %>位</p>
              <p>店の名前：<%= t.eatry_name %></p>
              <p>ジャンル：<%= t.genre %></p>
              <p>目的：<%= t.purpose %></p>
              <p>値段：<%= t.price %>円</p>
              <p>おいしさ：<%= t.delicious %></p>
              <p>アクセス：<%= t.access %></p>
              <p>その他：<%= t.others %></p>
              <% if t.images.present? %>
                <% t.images.each do |image| %>
                  <%= image_tag image.image_url, size: "250x200" %>
                <% end %>
              <% else %>
                <p><%= image_tag "noimage.png", size: "200x200" %></p>
              <% end %>
              <p>星評価：
              <div class="star">
                <% if t.star? %>
                  <% for i in 1..t.star do %>
                    ★
                  <% end %>
                <% end %>
              </div>
              </p>
            </div>
          <% else %>
            <div class="post3">
              <p>第<%= j %>位</p>
              <p>店の名前：<%= t.eatry_name %></p>
              <p>ジャンル：<%= t.genre %></p>
              <p>目的：<%= t.purpose %></p>
              <p>値段：<%= t.price %>円</p>
              <p>おいしさ：<%= t.delicious %></p>
              <p>アクセス：<%= t.access %></p>
              <p>その他：<%= t.others %></p>
              <% if t.images.present? %>
                <% t.images.each do |image| %>
                  <%= image_tag image.image_url, size: "250x200" %>
                <% end %>
              <% else %>
                <p><%= image_tag "noimage.png", size: "200x200" %></p>
              <% end %>
              <p>星評価：
              <div class="star">
                <% if t.star? %>
                  <% for i in 1..t.star do %>
                    ★
                  <% end %>
                <% end %>
              </div>
              </p>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="map_area1">
    <div class="map_area">
      <div class="title_area">
        <div class="title">
          <h2>google map</h2>
        </div>
      </div>
      <div class="button_area">
        <div class="button">
          <input id="address" type="textbox" value="場所を入力してください">
          <input type="button" value="Encode" onclick="codeAddress()">
        </div>
      </div>
      <div class="chizu_area">
        <div class="chizu">
            <div id='map'></div>
        
          <style>
          #map {
            height: 500px;
            width: 600px;
          }
          </style>

          <script>
          let map

          function initMap(){
            geocoder = new google.maps.Geocoder()

            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 40.7828, lng:-73.9653},
              zoom: 12,
            });

            marker = new google.maps.Marker({
              position:  {lat: 40.7828, lng:-73.9653},
              map: map
            });
          }
          let geocoder

          function codeAddress(){
            let inputAddress = document.getElementById('address').value;

            geocoder.geocode( { 'address': inputAddress}, function(results, status) {
              if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
              } else {
                alert('該当する結果がありませんでした：' + status);
              }
            });   
          }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyq3n8C3PB36mUCZHu1I8Sonm28Ge7e0c&callback=initMap" async defer></script>
        </div>
      </div>
    </div>
  </div>
</div>