<div class="detail_area">
  <div class="detail">
    <div class="title_area">
      <div class="title">
        <h1>グルメ投稿詳細</h1>
      </div>
    </div>
    <div class="gurume_area">
      <div class="gurume">
        <p>店の名前：<%= @gurume.eatry_name %></p>
        <p>ジャンル：<%= @gurume.genre %></p>
        <p>目的：<%= @gurume.purpose %></p>
        <p>値段：<%= @gurume.price %>円</p>
        <p>おいしさ：<%= @gurume.delicious %></p>
        <p>アクセス：<%= @gurume.access %></p>
        <p>その他：<%= @gurume.others %></p>
        <% if @gurume.image.present? %>
          <p><%= image_tag @gurume.image_url, size: "200x200" if @gurume.image? %></p>
        <% else %>
          <p><%= image_tag "noimage.png", size: "200x200" %></p>
        <% end %>
        <p><div class="star">
          <% if @gurume.star? %>
            <% for i in 1..@gurume.star do %>
              ★
            <% end %>
          <% end %>
        </div></p>
        <% if user_signed_in? %>
            <% if current_user.already_liked?(@gurume) %>
                <%= link_to gurume_like_path(@gurume), method: :delete do %>
                  <i class="fas fa-heart fa-2x" style="color:red;"></i><%= @gurume.likes.count %>
                  <p>いいねを取り消す</p><%#= @gurume.likes.count %>
                <% end %>
            <% else %>
                <%= link_to gurume_likes_path(@gurume), method: :post do %>
                  <i class="fas fa-heart fa-2x" style="color:black;"></i><%= @gurume.likes.count %>
                  <p>いいね</p><%#= @gurume.likes.count %>
                <% end %>
            <% end %>
        <% else %>
        <i class="far fa-heart"></i><%= @gurume.likes.count %>
            <p>いいねの数 = </p><%= @gurume.likes.count %>
        <% end %>
      </div>
    </div>
    <div class="fabo">
      <h2>いいねしたユーザー</h2>
      <% @gurume.liked_users.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
    </div>
    <div class="comment">
      <div class="comment-wrapper">
        <p>コメント一覧</p>
        <%= flash[:success] %>
        <% @comments.each do |c| %>
          <div>
            <%= c.user.email unless c.user.blank? %>
            <br>
            <%= c.content %>
          </div>
          <% if user_signed_in? && current_user.id == c.user_id %>
          <%= button_to "削除する", gurume_comment_path(c.id), method: :delete %>
          <% end %>
            <br>
        <% end %>

        <% if user_signed_in? %>
          <%= form_with(model: [@gurume, @comment], local: true) do |f| %>
            <%= f.text_area :content, :size => "60x5" %>
            <br><%= button_tag type: "submit" do %>
              <i class="far fa-comments"></i> コメントする
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="back">
      <%= link_to "gurume一覧に戻る", gurumes_path %>
    </div>
  </div>
</div>
