<div class="password_area">
  <div class="password">
    <div class="title_area">
      <div class="title">
      Forgot your password?
      </div>
    </div>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field_area">
            <%= render "users/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field_input", :placeholder =>"email" %>
            </div>
            

            <div class="actions">
              <div class="actions_area">
                <%= f.submit "パスワードをリセットする", class: "actions_input" %>
              </div>
            </div>
      </div>  
    <% end %>
    
    <div class="link_area">
      <div class="link">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
