<!DOCTYPE html>
<html>
  <head>
    <title>AppYamanote4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Gloria+Hallelujah&family=Mochiy+Pop+P+One&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/384f71a5c0.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>
  <body>
    <header>
      <h1>山の手線グルメ</h1>
      <div class="header-list">
        <% if user_signed_in? %>
          <li><%= link_to  gurumes_path, method: :get do %><i class="fas fa-align-justify fa-2x" style="color:white;"></i><% end %></li>
          <li><%= link_to  new_gurume_path, method: :get do %><i class="fa-solid fa-circle-plus fa-2x" style="color:white;" ></i><% end %></li>
          <li><%= link_to  user_path(current_user.id), method: :get do %><i class="fa-solid fa-user fa-2x" style="color:white;"></i></i><% end %></li>
          <li><%= link_to  users_path, method: :get do %><i class="fa-solid fa-comment fa-2x" style="color:white;"></i><% end %></li>
          <li><%= link_to  destroy_user_session_path, method: :delete do %><i class="fa-solid fa-arrow-right-from-bracket fa-2x" style="color:white;"></i><% end %></li>
        <% else %>
          <li><%= link_to  new_user_registration_path, method: :get do %><i class="fa-solid fa-user-plus fa-2x" style="color:white;"></i><% end %></li>
          <li><%= link_to  new_user_session_path, method: :get do %><i class="fa-solid fa-arrow-right-to-bracket fa-2x" style="color:white;"></i><% end %></li>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>Copyright ©  Shin Sata All Rights Reserved.</p>
    </footer>
  </body>
</html>
